div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-12
      h1 Configuración
    .col-sm-12
      form.form(name='form', ng-submit='save(form)', novalidate='')
        .form-group
          label Tipo de archivo
          select.form-control(ng-model='settings.parser', ng-options='it.description for it in parsers track by it.name')

        .form-group
          label Nombre del archivo
          input.form-control(name='fileName', ng-model='settings.fileName',required='')

        .form-group
          label Token Parsimotion
          input.form-control(type='password', name='parsimotionToken', ng-model='settings.parsimotionToken')

        p.help-block  {{ message }}

        button.btn.btn-primary(type='submit') Guardar
