div(ng-include='"components/navbar/navbar.html"')
.container
  .row
        div
          a.btn.btn-dropbox(href='', ng-click='loginOauth("dropbox")')
            i.fa.fa-dropbox
            |  Iniciar sesión con Dropbox
          = ' '
