div(ng-include='"components/navbar/navbar.html"')

.container
  h3
    | Articulos para sincronizar&nbsp
    small {{ ajustes.fecha | date:'medium' }}

  button(class="btn btn-primary", ng-click="sincronizar()", ng-disabled="isSincronizando") Sincronizar

  table(class="table table-striped")
    thead
      tr
        th SKU
        th Nombre
        th Stock
        th Sincronización
    tbody
      tr(ng-repeat="item in ajustes.stocks | orderBy: 'estadoSincronizacion'", ng-class="{success: item.estadoSincronizacion == 'ok', danger: item.estadoSincronizacion == 'error'}")
        td {{item.sku}}
        td {{item.nombre}}
        td {{item.stock}}
        td {{item.estadoSincronizacion | checkmark}}
